*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, lightblue,lightgreen);
}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
}

.commonproperties{
    background-color: lightgrey;
}

#mainContainer{
    min-width: 100vw;
    min-height: 100vh;;
    display: flex;
    justify-content: space-between;
}